.searchBar {

  .box {
    padding: 0.5%;
    margin: 1%;
    border: 1px solid grey;
    display: flex;
    margin-right: 35%;
    margin-left: 35%;

    .glass {
      width: 5%;
    }

    #movie {
      border: none;
      width: 100%;
    }
  }
}
